.education {

  h2 {
    @include title-block-h2-with-border
  }

  ul {
    list-style: none;
    padding: 0;
  }
      
  li {
    padding-left: 1.3em;
  }
      
  li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
}